[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
psycopg2-binary = "*"
redis = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.14"
