<div class="dock absolute bottom-0 left-0 right-0 z-20 bg-neutral text-neutral-content">
  <a href="{% url 'snapmap'%}">
    <i class="fa-solid fa-location-dot"></i>
    <span class="dock-label">Map</span>
  </a>

  <button class="dock-active">
    <i class="fa-solid fa-message"></i>
    <span class="dock-label">Chat</span>
  </button>

  <a href="{% url 'camera' %}">
    <i class="fa-solid fa-camera"></i>
    <span class="dock-label">Camera</span>
  </a>
  <button>
    <i class="fa-solid fa-user-group"></i>
    <span class="dock-label">Stories</span>
  </button>
</div>
